<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/index.css">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="flex flex-col justify-center items-center space-y-30">
    <nav class="bg-gray-300 p-4 w-full flex justify-between">
      <div class="flex gap-10 ml-20">
        <a href=""><img src="../Image/logo.png" alt="logo" class="logo w-[40px]"></a>
        <span class="quiz flex items-center font-bold text-2xl" >Quiz App</span>
      </div>
      <div class="flex items-center gap-10 mr-20">
        <a href="edit/edit.html" class="hover:bg-gray-500 p-1">Edit Quiz</a>
        <a href="play/play.html" class="hover:bg-gray-500 p-1">Play Quiz</a>
      </div>
    </nav>
    <img src="../Image/welcome.jpg">
  </div>
</body>
</html>